include src/alhambra/peppercomps/*.comp

include src/alhambra/peppercomps-nomidt/*.comp

include src/alhambra/peppercomps-j1/*.comp

include src/alhambra/seqdiagrambases/*.svg

include src/alhambra/data/rgb.txt

include src/alhambra/spuriousSSM
